@charset "utf-8";

* {margin:0; padding:0; box-sizing: border-box;}

::-webkit-scrollbar {width:0;}

#layout {
    max-width:600px; margin:auto; overflow-x: hidden; position:relative   
}
a {
    text-decoration: none; color:black;
}

/*********************/

iframe#header {width:100%; height:75px; position: absolute; top:0; left:0; z-index: 1; }
iframe#header.slide {height:100vh; /* padding:50px; */}


/*********************/

main {
    text-align: center;
}
#index main img {
    display:block; height:100vh; margin-left:-20vw;
}
#about main img {
    display:block; height:100vh; margin-left:-40vw;
}
#work main img {
    display:block; height:100vh; margin-left:-40vw;
}

/*********************/

iframe#footer {
    width:100%; height:100px; border:none; display:block;
}